 

 
<style type="text/css" > .Main {
    background-color: white;
    margin-left: auto; /* Center mainTable for >= IE6  */
    margin-right: auto; /* Center mainTable for >= IE6  */
}

.LeftLabelColumn {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    height: 40 px;
    padding-top: 5px;
}

.LeftValueColumn {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
}

 