<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <WpfClient.Properties.Settings>
            <setting name="ClientIP" serializeAs="String">
                <value>9999</value>
            </setting>
            <setting name="ClientPortIn" serializeAs="String">
                <value>8888</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>Danp</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>123456</value>
            </setting>
            <setting name="DownloadsPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerIP" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value />
            </setting>
            <setting name="ClientPortOut" serializeAs="String">
                <value>8889</value>
            </setting>
        </WpfClient.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <client>
            <endpoint address="http://localhost:9999/TorrentService" binding="basicHttpBinding"
                bindingConfiguration="" contract="ServiceInterface.IWCFTorrentService"
                name="TorrentServiceEndpoint" kind="" endpointConfiguration="" />
        </client>
    </system.serviceModel>
</configuration>